<styles th:fragment="styles">
    .header {
    height: 80px;
    background-color: #3498db;
    width: 100%;
    }
    .header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    list-style-type: none;
    }
    .header ul li {
    background-color: #eee;
    margin: 2px;
    padding: 4px;
    border-radius: 4px;
    }
    .header ul li:hover {
    background-color: #ddd;
    }
    main {
    padding: 20px;
    }
    body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Белый цвет фона для страницы */
    color: #333333; /* Цвет текста */
    margin: 0;
    height: 100vh; /* Высота страницы */
    }

    h1 {
    color: #3498db; /* Синий цвет для заголовка */
    }

    .question-info {
    background-color: #f2f2f2; /* Светло-серый цвет фона блока с информацией */
    padding: 20px;
    border-radius: 5px;
    /* Тень блока */
    max-width: 800px; /* Максимальная ширина блока */
    width: 100%; /* Ширина блока на всю доступную ширину */
    }

    .discipline-info p {
    margin-bottom: 10px;
    }

    ul {
    padding-left: 20px;
    }

    li {
    list-style-type: disc;
    margin-left: 5px;
    }
    .inline {
    display: inline-block;
    }
    form {
    display: block;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    }

    th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    th {
    background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    }
    tbody tr:nth-child(even) {
    background-color: #fcfcfc;
    }

    tbody tr:hover {
    background-color: #f2f2f2;
    }

    input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    }

    button[type="submit"] {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type="submit"] {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    .add-form {
    margin-bottom: 20px;
    }

    .add-form input[type="text"] {
    width: 150px;
    padding: 8px;
    margin-right: 10px;
    }

    .add-form button[type="submit"] {
    padding: 8px 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    .w100 {
    width: 100%;
    }
</styles>