<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style  th:insert="parts/styles :: styles">
</style>
<style>

    .header {
        height: 80px;
        background-color: #3498db;
        width: 100%;
    }
    .header ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0;
        list-style-type: none;

    }
</style>

<body>

<header th:insert="parts/header :: header" class="header"></header>
<main>
    <h1>Discipline info</h1>
    <div class="question-info" th:if="${discipline}">
        <h2>Name: <span th:text="${discipline.getDisciplineName()}"></span></h2>
        <form th:action="@{'/discipline/'+${discipline.getDisciplineId()}+'/changeName'}" method="post">
            <div class="inline"><input type="text" name="newName" placeholder="New Name"><span>  </span><input type="submit"></div>
        </form>
        <h2>QuestionBanks:</h2>
        <ul>
            <li >
                <table>
                    <thead>
                    <tr>
                        <th>QB Name</th>
                        <th>Number of Question Groups</th>
                        <th>Number of Questions</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="questionBank : ${discipline.getQuestionBanks()}">
                        <td>
                            <a th:href="@{'/questionBank/'+${questionBank.getQuestionBankId()}}"><span th:text="${questionBank.getQuestionBankName()}"></span></a>
                        </td>
                        <td>
                            <span th:text="${questionBank.getQuestionGroups().size()}"></span>
                        </td>
                        <td>
                            <span th:text="${questionBank.getQuestions().size()}"></span>
                        </td>
                        <td><form th:action="@{'/discipline/' + ${discipline.getDisciplineId()} + '/delete-questionbank/' + ${questionBank.getQuestionBankId()}}" method="post">
                            <button type="submit">Delete</button>
                        </form></td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h3>Add new QuestionBank:</h3>
        <form class="add-form" th:action="@{'/discipline/' + ${discipline.getDisciplineId()} + '/add-questionbank'}" method="post">
            <input  name="qbName" type="text" placeholder="Name" required>
            <button class="add-sub" type="submit">Add</button>
        </form>
    </div>
    <div th:unless="${discipline}">
        <p>Discipline not found.</p>
    </div>
</main>
</body>
</html>