<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="Question + ${question.getQuestionId()}"></title>
  <meta charset="utf-8">
</head>
<style  th:insert="parts/styles :: styles">
</style>
<style>

    .header {
      height: 80px;
      background-color: #3498db;
      width: 100%;
    }
    .header ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0;
      list-style-type: none;

  }
</style>
<body>

<header th:insert="parts/header :: header" class="header"></header>
<main>
<h1>Question info</h1>
<div class="question-info" th:if="${question}">
  <h2>Description: <span th:text="${question.getQuestionText()}"></span></h2>
  <form th:action="@{'/question/'+${question.getQuestionId()}+'/changeText'}" method="post">
    <div class="inline w100"><span>Change: </span><input class="long-tb" type="text" name="content" th:value="${question.getQuestionText()}"><input type="submit"></div>
  </form>
  <h2>In Groups:</h2>
  <ul>
    <li th:each="group : ${question.getQuestionGroups()}" th:text="${group.getQuestionGroupName()}"></li>
  </ul>

  <h2>Answers:</h2>
  <ul>
    <li >
      <table>
        <thead>
        <tr>
          <th>Content</th>
          <th>Score</th>
          <th>Save btn</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="answer : ${question.getAnswers()}">
          <form th:action="@{'/question/' + ${question.getQuestionId()} + '/change-answer/' + ${answer.getAnswerId()}}" method="post">
            <td>
              <span th:text="${answer.getContent()}"></span>
              <input name="text" type="text" placeholder="Change content">
            </td>
            <td>
              <span th:text="${answer.getAnswerScore()}"></span>
              <input name="score" type="number" placeholder="Change score">
            </td>
            <td>
              <button type="submit">Save</button>
            </td>
          </form>
          <td><form th:action="@{'/question/' + ${question.getQuestionId()} + '/delete-answer/' + ${answer.getAnswerId()}}" method="post">
            <button type="submit">Delete</button>
          </form></td>
        </tr>
        </tbody>
      </table>
    </li>
  </ul>
  <h3>Add new Answer:</h3>
  <form class="add-form" th:action="@{'/question/' + ${question.getQuestionId()} + '/add-answer'}" method="post">
    <input  name="content" type="text" placeholder="Содержание" required>
    <input  name="score" type="number" placeholder="Оценка" required>
    <button class="add-sub" type="submit">Add</button>
  </form>
  In tests:
  <ul>
    <li th:each="test : ${question.getTests()}"><a th:href="@{'/test/'+${test.getTestId()}}" th:text="${test.getTestName()}"></a></li>
  </ul>
</div>
<div th:unless="${question}">
  <p>Discipline not found.</p>
</div>
</main>
</body>
</html>