<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="QuestionBank + ${questionbank.getQuestionBankId()}"></title>
    <meta charset="utf-8">

</head>
<style  th:insert="parts/styles :: styles"></style>
<style>
.header {
    height: 80px;
    background-color: #3498db;
    width: 100%;
}
.header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    list-style-type: none;
}
</style>
<body>

<header th:insert="parts/header :: header"></header>
<main>
    <div class="inline w100 flex-space-between"><h1>QuestionBank info</h1><form method="post" th:action="@{'/questionBank/'+${questionbank.getQuestionBankId()}+'/export'}"><input type="submit" value="Export"></form></div>
    <div class="question-info" th:if="${questionbank}">
        <h2>Name: <span th:text="${questionbank.getQuestionBankName()}"></span></h2>
        <form th:action="@{'/questionBank/'+${questionbank.getQuestionBankId()}+'/changeName'}" method="post">
            <div class="inline"><input type="text" name="newName"><span>  </span><input type="submit" value="change"></div>
        </form>
        <h2>QuestionGroups:</h2>
        <ul>
            <li >
                <table>
                    <thead>
                    <tr>
                        <th>QuestionGroup Name</th>
                        <th>Number of Questions</th>
                        <th>Number of Tests</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="questiongroup : ${questionbank.getQuestionGroups()}">
                        <td>
                            <a th:href="@{'/questionGroup/'+${questiongroup.getQuestionGroupId()}}"><span th:text="${questiongroup.getQuestionGroupName()}"></span></a>
                        </td>
                        <td>
                            <span th:text="${questiongroup.getQuestions().size()}"></span>
                        </td>
                        <td>
                            <span th:text="${questiongroup.getTests().size()}"></span>
                        </td>
                        <td><form th:action="@{'/questionBank/' + ${questionbank.getQuestionBankId()} + '/delete-question-group/' + ${questiongroup.getQuestionGroupId()}}" method="post">
                            <button type="submit">Delete</button>
                        </form></td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h3>Add new QuestionGroup:</h3>
        <form class="add-form" th:action="@{'/questionBank/' + ${questionbank.getQuestionBankId()} + '/add-question-group'}" method="post">
            <input  name="name" type="text" placeholder="Name" required>
            <button class="add-sub" type="submit">Add</button>
        </form>


        <h2>Questions:</h2>
        <ul>
            <li >
                <table>
                    <thead>
                    <tr>
                        <th>Question content</th>
                        <th>Number of Answers</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="question : ${questionbank.getQuestions()}">
                        <td>
                            <a th:href="@{'/question/'+${question.getQuestionId()}}"><span th:text="${question.getQuestionText()}"></span></a>
                        </td>
                        <td>
                            <span th:text="${question.getAnswers().size()}"></span>
                        </td>
                        <td><form th:action="@{'/questionBank/' + ${questionbank.getQuestionBankId()} + '/delete-question/' + ${question.getQuestionId()}}" method="post">
                            <button type="submit">Delete</button>
                        </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
        <h3>Add new Question:</h3>
        <form class="add-form" th:action="@{'/questionBank/' + ${questionbank.getQuestionBankId()} + '/add-question'}" method="post">
            <input  name="content" type="text" placeholder="Content" required>
            <button class="add-sub" type="submit">Add</button>
        </form>

    </div>
    <div th:unless="${questionbank}">
        <p>Discipline not found.</p>
    </div>
</main>
</body>
</html>